extends layout 
    block content
        h1 Hello, welcome to #{title} are you joining our community or returning?
            button(href='/account/account_form') Joining
            button(href='account/login_form') Returning